<style>
    /* Estilos personalizados */
    body {
        background-color: #121212; /* Fondo negro */
        color: #fff; /* Texto blanco */
    }
    .navbar {
        background-color: #c62828; /* Color rojo */
    }
    .input-field input {
        color: #fff; /* Cambia el color del texto a blanco */
        border-bottom: 1px solid #c62828; /* Borde rojo */
    }
    .input-field input:focus {
        border-bottom: 1px solid #c62828; /* Rojo al hacer foco */
        box-shadow: 0 1px 0 0 #c62828; /* Sombra al hacer foco */
    }
    .card {
        background-color: #1e1e1e; /* Fondo oscuro para las cards */
        border: 1px solid #c62828; /* Borde rojo */
        transition: transform 0.3s;
    }
    .card:hover {
        transform: scale(1.05); /* Efecto de hover */
    }
    footer {
        background-color: #c62828; /* Color rojo */
        padding: 10px;
        text-align: center;
    }
</style>
